/* Google Fonts */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
section{
    padding: 70px 0;
}
.sec-bg{
    background-color: #FFF8F3;
}
.primary-color{
    color: #FD6E0A;
}

.dark-02{
    color: #474747;
}

.btn-primary{
    font-size: 16px;
    color: #fff;
    padding: 15px 30px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 10px;
}
.text-center{
    text-align: center;
}

.section-title{
    font-size: 30px;
}

/* Nav Style Start */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 100px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

/* Banner Style */
.banner{
    margin: 0 5px 0 100px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 450px;
}

.banner-greetings{
    font-size: 25px;
    font-weight: 600;
}

.banner-title{
    font-size: 45px;
    font-weight: 700;
}

.banner img{
    width: 400px;
}

/* Main Styles */
main{
    max-width: 930px;
    margin: 0 auto;
}

/* About Styles */
.about{
    margin-top: 70px;
    padding: 70px 100px;
    text-align: center;
    border-radius: 10px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

/* Experience Starts */
.exp-heading{
    padding: 0 80px 40px 70px;
}

.exp-container{
    display: flex;
    gap: 24px;
}

.single-exp{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Resume Start */
.resume-container{
    display: flex;
    gap: 30px;
}
.single-resume h4{
    margin: 0;
}

.single-resume h4, h5{
    margin: 5px 0;
}

/* Footer Start */
.footer-container{
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}
.footer-column{
    width: 50%;
}
.footer-column ul{
    padding: 0;
}

.footer-column ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}
.footer-column input[type="text"], input[type="email"], textarea{
    display: block;
    padding: 20px 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
}